/* tipografia de servicios */
@font-face {
  font-family: "QuantumRegular";
  src: url("./fonts/Quantum.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Quantum.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Quantum.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Quantum.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Quantum.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Quantum.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Quantum.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

.service-box .s-title {
  font-family: 'QuantumRegular';
}